/* You can add global styles to this file, and also import other style files */
:root {
    --cor-primaria: #29CF01;
    --cor-secundaria: 191919;
    --fonte-principal: 'inter', bold;
}



body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);

}
main {
    background-color: var(--cor-secundaria);
}