*{
  
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23d5ab, #23a6d5);
    background-size: 400% 400%;
}




section {
    background-color: #850505;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.teste {
  display: flex;         /* Ativa o modo de linha flexível */
  align-items: center;   /* Alinha o texto e o botão verticalmente ao centro */
  justify-content: space-between; /* Empurra o texto para a esquerda e o botão para a direita */
  max-width: 300px;      /* Define uma largura máxima para não ficar espalhado demais */
  margin-bottom: 8px;    /* Dá um respiro entre uma tarefa e outra */
}
